[data-md-color-scheme="kraken"] {
  color-scheme: light;
  --md-primary-fg-color: #180048;
  --md-accent-fg-color: #F050F8;
  --doc-symbol-module-fg-color: #F050F8;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #180048;
  --md-accent-fg-color: #F050F8;
  --doc-symbol-module-fg-color: #F050F8;
}

/* External link icon */
.md-content a[href^="http"]:after {
  --link-icon-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath d='M1792 256v640h-128V475l-851 850-90-90 850-851h-421V256h640zm-512 1007h128v529H256V640h529v128H384v896h896v-401z'/%3E%3C/svg%3E");

  width: .5rem;
  height: .5rem;
  vertical-align: super;

  display: inline-block;
  background-color: currentColor;
  content: '';
  -webkit-mask-image: var(--link-icon-svg);
  mask-image: var(--link-icon-svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}
